.bg-color {
  background-color: #DDF9CB;
}

/* Set text color for all navbar links except Log In */
.navbar-nav .nav-link {
  color: black;
}

/* Set text color for Log In button */
.navbar-nav .btn-success {
  color: white;
}

/* Optional: Increase the contrast for better readability */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #333; 
}
.btn-success {
  color: #fff;
  background-color: #60A99E; 
  border-color: #60A99E;
}
.btn-success:hover {
  background-color: #29504f;
  border-color: #29504f; 
}
.txt-color-black {
  color:black
}

/* Custom CSS for specific link */
.custom-text-black {
  color: #000 !important; 
}
.custom-color-green {
  background-color: #A6C83D; 
}

@media (max-width: 991.98px) {
  .cus-mt {
      margin-top: 10px; /* Add margin to Sign Up button */
  }

/* Adding green color under hovering the texts */
}
.navbar-nav .nav-link {
  position: relative;
  transition: all 0.3s;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #60A99E;
  transition: width 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar-nav .nav-link:hover {
  font-weight: bold;
}