<!-- templates/post_new.html -->
{% extends "base.html"%}
{% load static %}
{% block title %} New Activity Form {% endblock title %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}

<body style="background-color: #f8f9fa;">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8"> <!-- Change the wider from here -->
        <div class="card rounded-4 p-4">
          <button class="btn btn-secondary back-button" onclick="window.history.back()">&lt;</button>
          <h2 class="text-center mb-4">Activity Form</h2>
          <!-- Add the form to send it -->
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mb-3"></div> <!-- Spacer -->
            <div class="mb-3">
              <label for="eventTitle" class="form-label">Event title:</label>
              <input type="text" class="form-control" id="eventTitle" name="title">
              {% if form.title.errors %}
              {% for error in form.title.errors %}
                <div class="error">{{ error }}</div>
              {% endfor %}
            {% endif %}
              
            </div>
            <!--Dont' want that :) -->
            <div class="mb-3">
              <label for="eventTitle" class="form-label">Club:</label>
              <input type="text" class="form-control" id="eventTitle" name="club">
              {{form.club.errors}}
            </div>
            <!--Dont' want that :) -->
            <div class="mb-3">
              <label for="eventTitle" class="form-label">First name:</label>
              <input type="text" class="form-control" id="eventTitle" name="first_name">
              {{form.first_name.errors}}
            </div>
            <!--Dont' want that :) -->
            <div class="mb-3">
              <label for="eventTitle" class="form-label">Last name:</label>
              <input type="text" class="form-control" id="eventTitle" name="last_name">
              {{form.last_name.errors}}

            </div>

            <div class="row mb-4">
              <div class="col-md-6">
                <label for="dateTime" class="form-label">Date and time:</label>
                <input type="datetime-local" class="form-control" id="dateTime" name="date">
                {{form.date.errors}}

              </div>
              <div class="col-md-6">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="location" name="location">
                {{form.location.errors}}
              </div>
              
            </div>
            <div class="mb-4">
              <label for="eventContent" class="form-label">Event Content:</label>
              <textarea class="form-control" id="eventContent" rows="3" name="event_content"></textarea>
              {{form.event_content.errors}}

            </div>
            <div class="mb-4">
              <label for="speakerParticipants" class="form-label">Speaker-Participants:</label>
              <textarea class="form-control" id="eventContent" rows="3" name="speakers"></textarea>
              {{form.speakers.errors}}

            </div>
            <div class="mb-4">
              <label for="place" class="form-label">Place where the event will be held: (Campus -
                Hall---Classroom---Garden etc.):</label>
              <input type="text" class="form-control" id="place" name="place">
              {{form.place.errors}}

            </div>
            <div class="mb-4">
              <label for="specialServices" class="form-label">Special Services Requested from Technical
                Services:</label>
              <textarea class="form-control" id="eventContent" rows="2" name="special_services"></textarea>
              {{form.special_services.errors}}

            </div>
            <div class="mb-4">
              <label for="otherRequest" class="form-label">Other request:</label>
              <textarea class="form-control" id="otherRequest" rows="3" name="other_reqests"></textarea>
              {{form.other_requests.errors}}

            </div>
            <button type="submit" class="btn btn-primary btn-block">Send</button>
            <!-- <button type="submit" class="btn btn-primary btn-block" onclick="return confirm('Are you sure you want to send this?');">Send</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

{% comment %}
<h1> Activity Form</h1>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="" id="" value="Save">
</form>
{% endcomment %}

{% endblock content %}

{% block js%}
<script src="{% static 'js/popupmessage.js' %}"></script>
{% endblock %}