<!-- templates/post.detail.html -->
{% extends "base.html"%}

{% block content %}
<div class="post-entry">
  <h2>{{activityform.title}}</h2>
  <p>{{activityform.club}}</p>
  <p>{{activityform.date}}</p>
  <p>{{activityform.location}}</p>
  <p>{{activityform.first_name}}</p>
  <p>{{activityform.event_content}}</p>
  <p>{{activityform.speakers}}</p>
  <p>{{activityform.place}}</p>
  <p>{{activityform.special_services}}</p>
  <p>{{activityform.other_reqests}}</p>
  activityform
  <!-- it will be the same because they're coming from the DetailedView
  <h2>{{object.title}}</h2>
  <p>{{object.body}}</p> -->
</div>

{% endblock content%}