<!-- templates/post.detail.html -->
{% extends "base.html"%}

{% block content %}
<div class="post-entry">
  <h2>{{activity_form.title}}</h2>
  <p>{{activity_form.club}}</p>
  <p>{{activity_form.date}}</p>
  <p>{{activity_form.location}}</p>
  <p>{{activity_form.first_name}}</p>
  <p>{{activity_form.event_content}}</p>
  <p>{{activity_form.speakers}}</p>
  <p>{{activity_form.place}}</p>
  <p>{{activity_form.special_services}}</p>
  <p>{{activity_form.other_reqests}}</p>
  Activity_Form
  <!-- it will be the same because they're coming from the DetailedView
  <h2>{{object.title}}</h2>
  <p>{{object.body}}</p> -->
</div>

{% endblock content%}