{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .table-hover tbody tr:hover {
      background-color: #f5f5f5;
    }

    .clickable-row a {
      display: block;
      color: inherit;
      text-decoration: none;
    }

    #actionType.accept {
      color: green;
    }

    #actionType.reject {
      color: red;
    }
  </style>
</head>

{% block content%}

<body>
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-md-3 mb-3">
        <div class="card bg-primary text-white">
          <div class="card-body">
            <h5 class="card-title">Total Requests</h5>
            <p class="card-text" id="totalRequests">{{total_requests}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-success text-white">
          <div class="card-body">
            <h5 class="card-title">Accepted</h5>
            <p class="card-text" id="acceptedRequests">{{accepted}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-danger text-white">
          <div class="card-body">
            <h5 class="card-title">Rejected</h5>
            <p class="card-text" id="rejectedRequests">{{rejected}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-warning text-white">
          <div class="card-body">
            <h5 class="card-title">Waiting</h5>
            <p class="card-text" id="waitingRequests">{{waiting}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Filter Section -->
    <ul class="nav nav-tabs">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
          id="filterByRequestTime">Filter by Request <i class="fa-solid fa-code-pull-request"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByRequestTime', 'type', 'all', 'Filter by Request')">All Requests</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByRequestTime', 'type', 'event', 'Event Post')">Event Post</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByRequestTime', 'type', 'activity', 'Activity Form')">Activity Form</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByRequestTime', 'type', 'edit', 'Edit Event Post')">Edit Event Post</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
          id="filterByStatus">Filter by Status <i class="fas fa-clipboard-check"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByStatus', 'status', 'all', 'Filter by Status')">All Statuses</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByStatus', 'status', 'waiting', 'Waiting')">Waiting</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByStatus', 'status', 'accepted', 'Accepted')">Accepted</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByStatus', 'status', 'rejected', 'Rejected')">Rejected</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
          id="filterByDate">Filter by Time <i class="fas fa-calendar-alt"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByDate', 'order', 'oldest', 'Oldest')">Oldest</a></li>
          <li><a class="dropdown-item" href="#"
              onclick="updateFilter('filterByDate', 'order', 'newest', 'Newest')">Newest</a></li>
        </ul>
      </li>
    </ul>


    <!-- Filter Section -->
    <!-- <form action="{% url 'requests' %}" method="get" class="mb-3">
      <div class="row">
        <div class="col">
          <select name="type" class="form-select" onchange="this.form.submit()">
            <option value="">All Types</option>
            <option value="event">Event Post</option>
            <option value="activity">Activity Form</option>
            <option value="edit">Edit Event Post</option>
          </select>
        </div>
        <div class="col">
          <select name="status" class="form-select" onchange="this.form.submit()">
            <option value="">All Statuses</option>
            <option value="waiting">Waiting</option>
            <option value="accepted">Accepted</option>
            <option value="rejected">Rejected</option>
          </select>
        </div>
        <div class="col">
          <select name="order" class="form-select" onchange="this.form.submit()">
            <option value="newest">Newest First</option>
            <option value="oldest">Oldest First</option>
          </select>
        </div>
      </div>
    </form> -->

    <!-- Modal -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Confirmation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to <span id="actionType"></span> this request?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="confirmBtn">Yes, proceed</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Request Type</th>
            <th>Date</th>
            <th>Title</th>
            <th>Status</th>
            <th>Club</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for request in all_requests %}
          <tr class="clickable-row">
            <td>
              {% if request.get_request_type_display == "Event Post"%}
              <a href="{% url 'event_detail' pk=request.pk%}">{{ request.get_request_type_display }}</a>
              {% elif request.get_request_type_display == "Edit Event Post"%}
              <a href="{% url 'editevent_detail' pk=request.pk%}">{{ request.get_request_type_display }}</a>
              {% elif request.get_request_type_display == "Activity Form"%}
              <a href="{% url 'activityform_detail' pk=request.pk%}">{{ request.get_request_type_display }}</a>
              {% endif %}
            </td>
            <td>
              {% if request.get_request_type_display == "Edit Event Post"%}
              {{request.updated_at|date:"Y-m-d H:i"}}
              {% else %}
              {{ request.date|date:"Y-m-d H:i" }}
              {% endif %}
            </td>
            <td>{{ request.title }}</td>
            <td>{{ request.status }}</td>

            <!-- <td>
              {% if request.status == "WAITING" %}
                <span style="color: orange;">{{ request.status }}</span>
                <a href="{% url 'accept_request' request.id request.get_request_type_display %}">
                </a>
                <a href="{% url 'reject_request' request.id request.get_request_type_display %}">
                </a>
              {% elif request.status == "ACCEPTED" %}
                <span style="color: green;">{{ request.status }}</span>
                <i class="fas fa-check-circle" style="color: green;"></i>
              {% elif request.status == "REJECTED" %}
                <span style="color: red;">{{ request.status }}</span>
                <i class="fas fa-times-circle" style="color: red;"></i>
              {% endif %}
            </td> -->

            <td>
              {% if request.get_request_type_display == "Edit Event Post"%}
              {{request.event.club.title}}
              {% else %}
              {{ request.club.title}}</td>
              {% endif %}

            <td>
              {% if request.status == "WAITING" %}
              <a href="{% url 'accept_request' request.id request.get_request_type_display %}">
                <button class="btn btn-success btn-sm mb-1">Accept</button>
              </a>
              <a href="{% url 'reject_request' request.id request.get_request_type_display %}">
                <button class="btn btn-danger btn-sm mb-1">Reject</button>
              </a>
              {% elif request.status == "ACCEPTED" %}
              <i class="fas fa-check-circle" style="color: green;"></i>
              {% elif request.status == "REJECTED" %}
              <i class="fas fa-times-circle" style="color: red;"></i>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <!-- <tbody>
          {% for object in events %}
          <tr class="clickable-row">
            <h1>koko</h1>
            <td><a href="#">Event Post</a></td>
            <td><a href="#">{{object.date}}</a></td>
            <td><a href="#">{{object.title}}</a></td>
            <td><a href="#">{{object.status}}</a></td>
            <td><a href="#">{{object.club.title}}</a></td>
            <td>
              <button class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                onclick="setActionType('accept')">Accept</button>
              <button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                onclick="setActionType('reject')">Reject</button>
            </td>
          </tr>
          {% endfor %}

          {% for object in activity_form %}
          <tr class="clickable-row">
            <td><a href="#">Activity Form</a></td>
            <td><a href="#">{{object.date}}</a></td>
            <td><a href="#">{{object.title}}</a></td>
            <td><a href="#">{{object.status}}</a></td>
            <td><a href="#">{{object.club.title}}</a></td>
            <td>
              <button class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                onclick="setActionType('accept')">Accept</button>
              <button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                onclick="setActionType('reject')">Reject</button>
            </td>
          </tr>
          {% endfor %}

          {% for object in edit_event_post %}
          <tr class="clickable-row">
            <td><a href="#">Edit Event Post</a></td>
            <td><a href="#">{{object.date}}</a></td>
            <td><a href="#">{{object.title}}</a></td>
            <td><a href="#">{{object.status}}</a></td>
            <td><a href="#">{{object.club.title}}</a></td>
            <td>
              <button class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                onclick="setActionType('accept')">Accept</button>
              <button class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                onclick="setActionType('reject')">Reject</button>
            </td>
          </tr>
          {% endfor %}
          Additional rows as needed -->
      </table>

      
        <!-- Pagination Section -->
  {% if is_paginated %}
  <nav aria-label="Page navigation mt-5">
    <ul class="pagination justify-content-center pt-5">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
          aria-disabled="true">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock content%}

</html>
{% block js%}
<script src="{% static 'js/requests.js' %}"></script>
{% endblock %}