<!-- templates/article_list.html -->
{% extends "base.html" %}

{% load static %}
{% block title %} Events {% endblock title %}
{% block css%}
<link rel="stylesheet" href="{% static 'css/event_list.css' %}">
{% endblock %}

{% block content%}

<body>
  <!-- Landing -->
  <div class="landing-image d-flex align-items-center justify-content-center" style="height: 50vh;">
    <div class="text-center"> <!-- Add the text-center class here -->
      <h1 class="text-white">Welcome</h1>
      <h3 class="text-white p-4">Welcome to this page where you can discover our club</h3>
    </div>
  </div>
  <!-- End Landing -->

  <!-- Search form section -->
  <div class="container mt-5">
    <h1 class="text-center mb-4">Our Events</h1>

    {% comment %}
    <form class="row g-3 justify-content-center p-4" method="get">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-database"></i></span>
          <select class="form-select" name="category" id="category">
            <option value="all">Search by Category</option>
            {% for category in categories %}
            <option value="{{ category }}" {% if request.GET.category==category %}selected{% endif %}>
              {{ category }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    {% endcomment %}



    <form class="row g-3 justify-content-center p-4" method="get">
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-text"><i class="fas fa-database"></i></span>
          <select class="form-select" name="category" id="category">
            <option value="all">Search by Category</option>
            {% for category in categories %}
            <option value="{{ category }}" {% if request.GET.category == category %}selected{% endif %}>
              {{ category }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-text"><i class="far fa-calendar-days"></i></span>
          <input type="date" class="form-control" name="date" id="date" placeholder="Search by date" />
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary ">Search</button>
      </div>
    </form>
  </div>

  <!-- start cards Section -->
  <div class="container mt-5 ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <!-- Start card section -->
      {% for event in event_list %}
      <div class="col">
        <!-- Wrap the card with an anchor tag -->
        <!-- Eventa link -->
        <a href="{% url 'event_detail' event.pk %}" class="card-link">
          <div class="card h-100">
            <div class="card-img-top-container">
              <!-- Event images -->
              <img src="{{event.event_image.url}}" class="card-img-top" alt="...">
              <div class="card-img-overlay d-flex justify-content-end flex-column">
                <div class="club-name-container">
                  <!-- club_name -->
                  <p class="club-name">{{event.club}}</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Event title -->
              <h5 class="card-title">{{event.title}}</h5>
              <!-- Event body -->
              <p class="card-text">{{event.description|slice:120}}</p>
              <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p> -->
            </div>
        </a>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <!-- Event date -->
          <small class="text-muted"><i class="fa-regular fa-calendar-days"></i> {{event.date}}</small>
          {% if user.role == "ADMIN" %}
          <div class="d-flex">
            <a class="btn btn-danger me-2" href="{% url 'event_delete' event.pk %}">Delete</a>
            <a class="btn btn-primary" href="{% url 'event_edit' event.pk %}">Edit</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

    <!-- Repeat end -->

  </div>
  <!-- Pagination Section -->
  {% if is_paginated %}
  <nav aria-label="Page navigation mt-5">
    <ul class="pagination justify-content-center pt-5">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
          aria-disabled="true">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      {% endif %}

      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

  </div>
</body>




{% comment %}
<p><a href="{% url 'event_new'%}">+ Add new post</a></p>
{% for event in event_list %}

<h1><a href="{% url 'event_detail' event.pk %}">{{event.title}}</a></h1>
{% if user.role == "ADMIN"%}
<p>Hello Admin</p>
<p><a href="{% url 'event_edit' event.pk%}">+ Edit events</a></p>
<p><a href="{% url 'event_delete' event.pk%}">+ delete events</a></p>
{% endif %}
<p>{{event.body|safe}}</p>
<p>{{event.date}}</p>
<img src="{{event.event_image.url}}" alt="">

<hr>
{% endfor %}
</div>

</div>
<br />
{% endcomment %}

{% endblock content%}