<!-- templates/post.detail.html -->
{% extends "base.html"%}

{% block content %}
<div class="post-entry">
  <h2>{{event.title}}</h2>
  <p>{{event.location}}</p>
  <p>{{event.club}}</p>
  <p>{{event.first_name}}</p>
  <p>{{event.last_name}}</p>
  <p>{{event.date}}</p>
  <img src="{{event.event_imgage.url}}" alt="">

  <h2>About</h2>
  <p>{{event.body}}</p>


  <!-- it will be the same because they're coming from the DetailedView
  <h2>{{object.title}}</h2>
  <p>{{object.body}}</p> -->
</div>

{% endblock content%}